appdirs==1.4.4
beautifulsoup4==4.9.3
brotlipy==0.7.0
certifi==2022.12.7
cffi @ file:///D:/bld/cffi_1602537468119/work
chardet==3.0.4
cryptography @ file:///D:/bld/cryptography_1604179259596/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
lxml>=4.6.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyOpenSSL==19.1.0
PySocks @ file:///D:/bld/pysocks_1602327203253/work
requests==2.31.0
robotframework @ file:///home/conda/feedstock_root/build_artifacts/robotframework_1599133481898/work/dist
robotframework-pythonlibcore @ file:///home/conda/feedstock_root/build_artifacts/robotframework-pythonlibcore_1595811294820/work
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary @ file:///home/conda/feedstock_root/build_artifacts/robotframework-seleniumlibrary_1595814399814/work
selenium @ file:///D:/bld/selenium_1602632647609/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
soupsieve==2.0.1
tqdm==4.52.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1605225765842/work
webdrivermanager==0.9.0
win-inet-pton @ file:///D:/bld/win_inet_pton_1602260267949/work
wincertstore==0.2
